[[sounds]]
sound = "global_street_ambience.mp3"
gain = 0.3

[[sounds]]
sound = "SirenSlow.wav"
x = 10
y = 10
z = 2
refDistance = 2
rolloffFactor = 1
gain = 2
coneInnerAngle = 90
coneOuterAngle = 180
coneOuterGain = 0
rotation = 90